<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from go webskets</h1>
    <input name="msg" id="msg" />
    <button onclick="sendMsg()">send</button>
    <button onclick="connect()">connect</button>
    <div class="res">

    </div>
<script>
    console.log('hei')
    let socket = null

    function connect() {
        socket = new WebSocket(
            "ws://localhost/websocket")

        socket.onopen = function() {
            console.log("Connected to WebSocket server.");
        };

        socket.onmessage = function(event) {
            console.log(event)
            const p = document.createElement("p")
            p.textContent = event.data
            document.getElementsByClassName("res").item(0).appendChild(p)
        };

        socket.onerror = function(error) {
            console.error("WebSocket Error: ", error);
        };
    }

    function sendMsg() {

        if (!socket) {
            return
        }

        if (socket.readyState == socket.OPEN) {
            let msgVal = document.getElementById('msg').value
            socket.send(msgVal)
            document.getElementById('msg').value = ''
        }
        
    }
</script>
</body>
</html>