<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <title>Document</title>
</head>
<style>
    canvas {
        border: 1px solid black;
    }
</style>

<body>
    <h1 style="text-align: center;">Silly Real Time Docs</h1>

    <button onclick="connect()">Connect</button>
    <button onclick="disconnect()">Disconnect</button>
    
    <input onchange="sendMsg()" id="editor"></input>

    <canvas id="main-canvas" width="150" height="150">

    </canvas>

    <!-- canvas scripting // testing things out -->
    <script>
        let curr = {x: 0, y: 0, uuid: null}
        let playerMap = {}
        let ctx = null
        const draw = () => {
            const canvas = document.getElementById("main-canvas")
            if (canvas.getContext) {
                ctx = canvas.getContext("2d")
                ctx.fillRect(curr.x, curr.y, 20, 20)
            }
        }

        window.addEventListener("load", draw)
        window.addEventListener('keypress', e => {
            if (ctx) {
                if (e.key === "a") {
                    curr.x -= 2
                }
                if (e.key === "d") {
                    curr.x += 2
                }
                if (e.key === "w") {
                    curr.y -= 2
                }
                if (e.key === "s") {
                    curr.y += 2
                }
                drawFrames()
                sendMsg()
            }
        })
        function drawFrames() {
            if (ctx) {
                ctx.clearRect(0, 0, 150, 150)
                ctx.fillStyle = "orange"
                for (const uuid in playerMap) {
                    const {x, y} = playerMap[uuid]
                    ctx.fillRect(x, y, 20, 20)
                }
                ctx.fillStyle = "black"
                ctx.fillRect(curr.x, curr.y, 20, 20)
            }
        }
        let socket = null

        function connect() {
            if (socket) {
                return
            }
            curr["uuid"] = crypto.randomUUID()
            socket = new WebSocket(
                `ws://192.168.18.196/websocket?uuid=${curr["uuid"]}`)

            socket.onopen = function () {
                console.log(socket)
                console.log("Connected to WebSocket server.");
                document.getElementById("editor").value = 'connected'
            };

            socket.onmessage = function (event) {
                console.log(event.data)
                other = JSON.parse(event.data)
                playerMap[other.uuid] = {x: other.x, y: other.y}
                console.log(playerMap)
                drawFrames()
                document.getElementById("editor").value = event.data
            };

            socket.onerror = function (error) {
                console.error("WebSocket Error: ", error);
                document.getElementById("editor").value = error
            };
        }

        function sendMsg() {

            if (!socket) {
                return
            }

            if (socket.readyState == socket.OPEN) {
                let msgVal = document.getElementById('editor').value
                socket.send(JSON.stringify(curr))
            }
        }
        function disconnect() {
            if (!socket) {
                return
            }

            if (socket.bufferedAmount != 0) {
                console.log('theres pending data to be sent')
                return
            }

            socket.close()

        }
    </script>
</body>

</html>